@import url(/docs/css/footer.css);
@import url(/docs/css/headerMovil.css);

*
{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
main
{
    width: 100vw;
    min-width: 320px;
    background-color:  #fffacb;

}

.main_div
{
    background-image: url(/multimedia/imagenes/fondoBanda.jpg);
    width: 100%;
    text-align: center;
}
.div__j2
{
    font-size: 2rem;
    color: #fffacb;
    padding: 20px;
}
.article__h3
{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}
.section__article
{
    padding: 3%;
}
.article__p
{
    text-align: center;
   
    padding-bottom: 15px;
    -webkit-animation: border 7s forwards;
    *animation: border 7s forwards;
    *-webkit-animation-play-state: paused;
    *animation-play-state: paused;
}
@keyframes border {
    from {border-bottom: solid #fffacb; }
    to { border-bottom: solid #704f38;}
}
.article__ol
{
    list-style-type: circle;
    list-style-position: inside;
    text-align: center;
    padding: 15px;
    animation: border 7s forwards;
    *animation-play-state: paused;
}

